.sprite {
  background: url(images/sprite.png) no-repeat;
}
/* Keyframes */
/* Common Media */
.pr-footer {
  color: #808080;
}
ul.tick,
ol.tick {
  margin: 0 0 20px !important;
  padding: 0 !important;
  list-style-type: none !important;
}
ul.tick li,
ol.tick li {
  list-style-type: none !important;
  background: url(images/icon_tick.png) 0 8px no-repeat !important;
  padding-left: 32px !important;
  margin-bottom: 12px !important;
}
ul.no-tick {
  list-style-type: disc !important;
  margin-left: 32px !important;
}
ul.no-tick li {
  list-style-type: disc !important;
  margin-left: 0 !important;
}
ol.no-tick {
  list-style-type: decimal !important;
  margin-left: 32px !important;
}
ol.no-tick li {
  list-style-type: decimal !important;
  margin-left: 0 !important;
}
#ui-datepicker-div {
  z-index: 9 !important;
}
.country-separator {
  padding: 5px 30px;
}
.webform-submission-form {
  margin-bottom: 0;
  /* .form-type-select__select-wrapper:not(.is-multiple):after{
        content: " ";
        background: url(images/down_arrow.png) no-repeat;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        width: 15px;
        height: 10px;
        z-index: 2;
    } */
}
.webform-submission-form input,
.webform-submission-form textarea,
.webform-submission-form select {
  border: 2px solid #e6e6e6;
  border-radius: 25px;
  color: #808080;
  font-size: 14px;
  line-height: 32px;
  padding: 0 28px;
  width: 100%;
}
.webform-submission-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.webform-submission-form select option[selected="selected"] {
  opacity: 0;
  visibility: hidden;
}
.webform-submission-form select optgroup {
  color: #808080;
  font-weight: normal;
}
.webform-submission-form select optgroup option {
  color: #1c0761;
}
.webform-submission-form select optgroup option:last-child {
  margin-bottom: 20px;
}
.webform-submission-form button {
  cursor: pointer;
  margin-right: 15px;
}
.webform-submission-form input[type="file"] {
  font-family: "Ubuntu-Regular" !important;
}
.webform-submission-form textarea {
  height: 120px;
  padding: 15px 28px;
  resize: none;
  font-family: "Ubuntu-Regular";
}
.webform-submission-form label,
.webform-submission-form legend {
  color: #1c0761;
  white-space: initial;
  font-size: 14px;
  line-height: 24px;
}
.webform-submission-form label sup,
.webform-submission-form legend sup {
  color: #ec0c19;
}
.webform-submission-form .grey-text-patch {
  background: #e6e6e6;
  padding: 15px 35px;
  margin-bottom: 0;
}
.webform-submission-form .grey-text-patch p {
  font-size: 24px;
  color: #1c0761;
}
.webform-submission-form .grey-text-patch h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}
.webform-submission-form .form-radios,
.webform-submission-form .form-checkboxes {
  margin-bottom: 0;
}
.webform-submission-form .form-type-checkbox:last-child,
.webform-submission-form .form-type-radio:last-child {
  margin-bottom: 0;
}
.webform-submission-form .form-item {
  position: relative;
}
.webform-submission-form .webform-type-radios .fieldset-wrapper .form-radios .form-type-radio,
.webform-submission-form .webform-type-checkboxes .fieldset-wrapper .form-radios .form-type-radio,
.webform-submission-form .webform-type-radios .fieldset-wrapper .form-checkboxes .form-type-radio,
.webform-submission-form .webform-type-checkboxes .fieldset-wrapper .form-checkboxes .form-type-radio,
.webform-submission-form .webform-type-radios .fieldset-wrapper .form-radios .form-type-checkbox,
.webform-submission-form .webform-type-checkboxes .fieldset-wrapper .form-radios .form-type-checkbox,
.webform-submission-form .webform-type-radios .fieldset-wrapper .form-checkboxes .form-type-checkbox,
.webform-submission-form .webform-type-checkboxes .fieldset-wrapper .form-checkboxes .form-type-checkbox {
  display: inline-block;
  padding-right: 40px;
  vertical-align: top;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup legend {
  display: none;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper {
  width: 100%;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .form-checkboxes {
  width: 35%;
  padding-right: 20px;
  float: left;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .form-checkboxes .js-form-type-checkbox {
  display: block;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .form-checkboxes .js-form-type-checkbox:first-child {
  display: none;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .form-checkboxes .js-form-type-checkbox label {
  color: #1c0761;
  max-width: 210px;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .form-checkboxes .form-item-other-products-services-please-fill-in-the-field-checkboxes--other- {
  display: block;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .webform-checkboxes-other-input {
  width: 60% !important;
  float: left;
  padding: 0;
}
.webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .webform-checkboxes-other-input .form-textarea-wrapper {
  width: 100%;
}
.webform-submission-form .captcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.webform-submission-form .captcha .description {
  margin-bottom: 0 !important;
}
.webform-submission-form .captcha img {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 40%;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-bottom: 20px;
}
.webform-submission-form .captcha .form-type-textfield {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.webform-submission-form .js-form-type-number,
.webform-submission-form .js-form-type-date,
.webform-submission-form .js-form-type-select,
.webform-submission-form .js-form-type-textfield,
.webform-submission-form .js-form-type-email,
.webform-submission-form .js-form-type-textarea {
  margin: 25px 0;
}
.webform-submission-form .js-form-type-number::after,
.webform-submission-form .js-form-type-date::after,
.webform-submission-form .js-form-type-select::after,
.webform-submission-form .js-form-type-textfield::after,
.webform-submission-form .js-form-type-email::after,
.webform-submission-form .js-form-type-textarea::after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.webform-submission-form .js-form-type-number label,
.webform-submission-form .js-form-type-date label,
.webform-submission-form .js-form-type-select label,
.webform-submission-form .js-form-type-textfield label,
.webform-submission-form .js-form-type-email label,
.webform-submission-form .js-form-type-textarea label {
  width: 30%;
  float: left;
  padding-right: 20px;
}
.webform-submission-form .js-form-type-number input,
.webform-submission-form .js-form-type-date input,
.webform-submission-form .js-form-type-select input,
.webform-submission-form .js-form-type-textfield input,
.webform-submission-form .js-form-type-email input,
.webform-submission-form .js-form-type-textarea input,
.webform-submission-form .js-form-type-number .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-date .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-select .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-textfield .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-email .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-textarea .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-number .form-textarea-wrapper,
.webform-submission-form .js-form-type-date .form-textarea-wrapper,
.webform-submission-form .js-form-type-select .form-textarea-wrapper,
.webform-submission-form .js-form-type-textfield .form-textarea-wrapper,
.webform-submission-form .js-form-type-email .form-textarea-wrapper,
.webform-submission-form .js-form-type-textarea .form-textarea-wrapper {
  width: calc(70% - 50px);
  float: left;
}
.webform-submission-form .js-form-type-number .description,
.webform-submission-form .js-form-type-date .description,
.webform-submission-form .js-form-type-select .description,
.webform-submission-form .js-form-type-textfield .description,
.webform-submission-form .js-form-type-email .description,
.webform-submission-form .js-form-type-textarea .description {
  margin-left: 40%;
  font: 14px/24px "Trebuchet MS", Helvetica, sans-serif;
  color: #808080;
}
.webform-submission-form .js-form-type-processed-text {
  margin: 15px 0;
}
.webform-submission-form .js-form-type-processed-text h3 {
  color: #ec0c19;
  font-size: 24px;
  line-height: 36px;
}
.webform-submission-form .js-form-type-processed-text h4 {
  color: #ec0c19;
}
.webform-submission-form .js-form-type-select .form-type-select__select-wrapper {
  width: 150px;
  position: relative;
}
.webform-submission-form .form-type-date {
  margin: 15px 0;
}
.webform-submission-form .form-type-date label {
  width: 35%;
  float: left;
  padding-right: 20px;
}
.webform-submission-form .form-type-date .field-prefix,
.webform-submission-form .form-type-date .field-suffix {
  float: left;
  padding-right: 20px;
  color: #1c0761;
  font: 14px/24px "Trebuchet MS", Helvetica, sans-serif;
}
.webform-submission-form .form-type-date .field-suffix {
  padding-left: 20px;
  padding-right: 0;
}
.webform-submission-form .form-type-date input {
  width: 150px;
  float: left;
}
.webform-submission-form .form-type-date input:hover::-webkit-inner-spin-button,
.webform-submission-form .form-type-date input:active::-webkit-inner-spin-button {
  display: none;
}
.webform-submission-form .form-type-date input::-webkit-inner-spin-button {
  display: none;
}
.webform-submission-form .grey-bg-text {
  background: #e6e6e6;
  margin-top: 2px;
}
.webform-submission-form .grey-bg-text p {
  color: #808080;
}
.webform-submission-form .fieldgroup {
  display: block;
  margin: 15px 0;
}
.webform-submission-form .fieldgroup.webform-type-radios {
  border-top: none;
  border-bottom: none;
  margin: 0;
  padding: 20px 0;
}
.webform-submission-form .fieldgroup.webform-type-checkboxes {
  margin: 0;
  padding: 20px 0 15px;
}
.webform-submission-form .fieldgroup.no-border {
  border-bottom: 0;
}
.webform-submission-form .fieldgroup:first-child {
  border: 0 none;
}
.webform-submission-form .fieldgroup h3 {
  color: #ec0c19;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 15px;
}
.webform-submission-form .fieldgroup legend {
  width: 30%;
  float: left;
  margin-right: 50px;
  line-height: 18px;
  max-width: 300px;
}
.webform-submission-form .fieldgroup .fieldset-wrapper {
  width: calc(70% - 50px);
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.webform-submission-form .fieldgroup .fieldset-wrapper label,
.webform-submission-form .fieldgroup .fieldset-wrapper p,
.webform-submission-form .fieldgroup .fieldset-wrapper span {
  color: #808080;
}
.webform-submission-form .fieldgroup .fieldset-wrapper label a,
.webform-submission-form .fieldgroup .fieldset-wrapper p a,
.webform-submission-form .fieldgroup .fieldset-wrapper span a {
  color: #1c0761;
}
.webform-submission-form .fieldgroup .fieldset-wrapper label a:hover,
.webform-submission-form .fieldgroup .fieldset-wrapper p a:hover,
.webform-submission-form .fieldgroup .fieldset-wrapper span a:hover {
  text-decoration: none;
}
.webform-submission-form .fieldgroup .fieldset-wrapper .form-item--error-message {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
}
.webform-submission-form .form-actions {
  margin: 0;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.webform-submission-form .form-actions .webform-button--submit,
.webform-submission-form .form-actions .webform-button--reset {
  border: 1px solid #cccccc;
  color: #808080;
  text-transform: capitalize;
  font-size: 16px;
  display: inline-block;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  background: #FFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  width: auto;
}
.webform-submission-form .form-actions .webform-button--reset {
  display: block !important;
  text-align: center;
  width: 100% !important;
  border: none;
  margin: 15px 0 0 !important;
  line-height: normal;
  padding: 0;
  height: auto;
  font-weight: normal;
  font-size: 15px;
  text-decoration: underline;
}
.webform-submission-form .js-form-type-select label,
.webform-submission-form .js-form-type-textfield label,
.webform-submission-form .js-form-type-email label,
.webform-submission-form .js-form-type-date label,
.webform-submission-form .js-form-type-textarea label {
  position: absolute;
  width: auto;
  left: 30px;
  top: 18px;
  z-index: 3;
  color: #808080;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.webform-submission-form .js-form-type-select input,
.webform-submission-form .js-form-type-textfield input,
.webform-submission-form .js-form-type-email input,
.webform-submission-form .js-form-type-date input,
.webform-submission-form .js-form-type-textarea input,
.webform-submission-form .js-form-type-select .form-select,
.webform-submission-form .js-form-type-textfield .form-select,
.webform-submission-form .js-form-type-email .form-select,
.webform-submission-form .js-form-type-date .form-select,
.webform-submission-form .js-form-type-textarea .form-select,
.webform-submission-form .js-form-type-select .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-textfield .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-email .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-date .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-textarea .form-type-select__select-wrapper,
.webform-submission-form .js-form-type-select .form-textarea-wrapper,
.webform-submission-form .js-form-type-textfield .form-textarea-wrapper,
.webform-submission-form .js-form-type-email .form-textarea-wrapper,
.webform-submission-form .js-form-type-date .form-textarea-wrapper,
.webform-submission-form .js-form-type-textarea .form-textarea-wrapper {
  width: 100%;
  min-height: 60px;
  font-family: "Ubuntu-Regular";
}
.webform-submission-form .js-webform-type-fieldset {
  margin-top: 25px;
}
.webform-submission-form .js-webform-type-fieldset legend .fieldset-legend {
  display: none;
}
.webform-submission-form .js-webform-type-fieldset .js-form-type-select,
.webform-submission-form .js-webform-type-fieldset .js-form-type-textfield,
.webform-submission-form .js-webform-type-fieldset .js-form-type-email,
.webform-submission-form .js-webform-type-fieldset .js-form-type-date,
.webform-submission-form .js-webform-type-fieldset .js-form-type-textarea {
  margin-top: 0;
  margin-bottom: 0;
}
.webform-submission-form .js-form-type-select label {
  color: #1c0761;
}
.webform-submission-form .js-form-type-select .form-select {
  color: #1c0761;
}
.webform-submission-form .g-recaptcha {
  width: 304px;
  margin: 0 auto 15px;
}
.webform-submission-form .are_the_new_contact_details_and_or_mailing {
  padding: 20px 0 10px;
  margin-top: 25px;
}
.webform-submission-form .are_the_new_contact_details_and_or_mailing legend {
  width: 100%;
  margin-right: 0;
  float: none;
  max-width: 100%;
}
.webform-submission-form .are_the_new_contact_details_and_or_mailing .fieldset-wrapper {
  width: 100%;
  float: none;
}
.webform-submission-form .are_the_new_contact_details_and_or_mailing .fieldset-wrapper .form-type-radio {
  width: 120px;
}
.webform-submission-form .are_the_new_contact_details_and_or_mailing .fieldset-wrapper .form-type-radio:last-child {
  width: 55%;
}
.webform-submission-form .js-form-item-i-confirm-that-i-am-the-authorised-policyholder-and-or-insured {
  width: 100%;
}
.webform-submission-form .please_complete_change_of_contact_details {
  margin-bottom: 0;
}
.webform-submission-form .please_complete_change_of_contact_details .fieldset-wrapper .form-type-textfield {
  width: calc(100%/3 - 17px);
  margin-bottom: 25px;
  margin-right: 25px;
  float: left;
}
.webform-submission-form .please_complete_change_of_contact_details .fieldset-wrapper .form-type-textfield label {
  display: none;
}
.webform-submission-form .please_complete_change_of_contact_details .fieldset-wrapper .form-type-textfield:nth-child(3n + 0) {
  margin-right: 0;
}
.webform-submission-form .please_complete_change_of_contact_details .fieldset-wrapper .form-type-textfield .form-item--error-message {
  height: 0;
}
.webform-submission-form .custom-top-text {
  margin: 0;
  padding: 30px;
  border: 1px solid #e6e6e6;
}
.webform-submission-form .custom-top-text p {
  max-width: 600px;
}
.webform-submission-form .update-policy-footer-container,
.webform-submission-form .form-item-i-confirm-that-i-am-the-authorised-policyholder-and-or-insured {
  margin-top: 25px;
  padding: 0px 30px 30px;
}
.webform-submission-form .update-policy-footer-container label,
.webform-submission-form .form-item-i-confirm-that-i-am-the-authorised-policyholder-and-or-insured label {
  color: #808080;
  max-width: 600px;
}
.webform-submission-form .update-policy-footer-container {
  padding-bottom: 0;
}
.webform-submission-form .please_complete_change_of_contact_details {
  display: none;
}
.ui-selectmenu-button.ui-button {
  width: 100%;
  border: 2px solid #e6e6e6;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
  color: #808080;
  font-size: 14px;
  line-height: 32px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0 30px;
  background: #FFF;
  z-index: 1;
  height: 60px;
}
.ui-selectmenu-button.ui-button .ui-selectmenu-text {
  line-height: 56px;
}
.ui-selectmenu-button.ui-button::after {
  background: url('images/down_arrow.png') no-repeat;
  content: " ";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 15px;
  height: 10px;
  z-index: 2;
}
.ui-selectmenu-button.ui-button .ui-selectmenu-icon {
  display: none;
}
.ui-selectmenu-button.ui-button.ui-selectmenu-button-open {
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  -ms-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  z-index: 3;
  border-bottom-color: transparent;
  position: relative;
}
.ui-selectmenu-button.ui-button.ui-selectmenu-button-open::after {
  transform: rotate(180deg);
  transform-origin: 7px 2px 0px;
}
.ui-selectmenu-button.ui-button:hover {
  background: #FFF;
}
.ui-selectmenu-text {
  display: none;
}
.ui-selectmenu-menu {
  border: none;
  z-index: 0;
}
.ui-selectmenu-menu.ui-front {
  z-index: 0;
}
.ui-selectmenu-menu .ui-menu {
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  -ms-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  border: 2px solid #e6e6e6;
  border-top: 0;
  top: 0px;
  position: relative;
  padding-top: 0px;
  max-height: 400px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item .ui-menu-item-wrapper {
  padding: 5px 30px;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
  border: 1px solid #8c8c8c;
  background: #9e9e9e;
}
.ui-selectmenu-menu .ui-menu .ui-menu-item:first-child {
  display: none;
}
.ui-selectmenu-menu.ui-selectmenu-open {
  z-index: 9;
}
.form-item--error-message {
  color: #ec0c19;
  margin-top: 5px;
  padding-left: 10px;
}
.form-item--error-message strong {
  font-weight: normal;
  clear: both;
}
/* Personal Insurance form start*/
.webform-submission-personal-insurance-form,
.webform-submission-commercial-insurance-form,
.webform-submission-customer-information-update-form-form,
.webform-submission-customer-feedback-form-form {
  background: #FFF;
}
/* Personal Insurance form end*/
@media only screen and (max-width: 1137px) {
  .webform-submission-form .form-actions {
    text-align: center;
    display: block;
  }
  .webform-submission-form .form-actions .webform-button--submit,
  .webform-submission-form .form-actions .webform-button--reset {
    margin: 0 20px;
    display: inline-block;
  }
}
@media only screen and (max-width: 757px) {
  input {
    height: 2.5rem;
  }
  .webform-submission-form .js-form-type-textfield,
  .webform-submission-form .js-form-type-select,
  .webform-submission-form .js-form-type-email,
  .webform-submission-form .js-form-type-number,
  .webform-submission-form .js-form-type-date,
  .webform-submission-form .js-form-type-textarea {
    margin: 20px 0;
  }
  .webform-submission-form .js-form-type-textfield label,
  .webform-submission-form .js-form-type-select label,
  .webform-submission-form .js-form-type-email label,
  .webform-submission-form .js-form-type-number label,
  .webform-submission-form .js-form-type-date label,
  .webform-submission-form .js-form-type-textarea label {
    width: auto;
    float: none;
    left: 25px;
    padding-right: 0px;
  }
  .webform-submission-form .js-form-type-textfield input,
  .webform-submission-form .js-form-type-select input,
  .webform-submission-form .js-form-type-email input,
  .webform-submission-form .js-form-type-number input,
  .webform-submission-form .js-form-type-date input,
  .webform-submission-form .js-form-type-textarea input,
  .webform-submission-form .js-form-type-textfield .form-type-select__select-wrapper,
  .webform-submission-form .js-form-type-select .form-type-select__select-wrapper,
  .webform-submission-form .js-form-type-email .form-type-select__select-wrapper,
  .webform-submission-form .js-form-type-number .form-type-select__select-wrapper,
  .webform-submission-form .js-form-type-date .form-type-select__select-wrapper,
  .webform-submission-form .js-form-type-textarea .form-type-select__select-wrapper,
  .webform-submission-form .js-form-type-textfield .form-textarea-wrapper,
  .webform-submission-form .js-form-type-select .form-textarea-wrapper,
  .webform-submission-form .js-form-type-email .form-textarea-wrapper,
  .webform-submission-form .js-form-type-number .form-textarea-wrapper,
  .webform-submission-form .js-form-type-date .form-textarea-wrapper,
  .webform-submission-form .js-form-type-textarea .form-textarea-wrapper {
    width: 100%;
    float: none;
  }
  .webform-submission-form .js-form-type-textfield input,
  .webform-submission-form .js-form-type-select input,
  .webform-submission-form .js-form-type-email input,
  .webform-submission-form .js-form-type-number input,
  .webform-submission-form .js-form-type-date input,
  .webform-submission-form .js-form-type-textarea input,
  .webform-submission-form .js-form-type-textfield select,
  .webform-submission-form .js-form-type-select select,
  .webform-submission-form .js-form-type-email select,
  .webform-submission-form .js-form-type-number select,
  .webform-submission-form .js-form-type-date select,
  .webform-submission-form .js-form-type-textarea select {
    padding: 0 22px;
  }
  .webform-submission-form .js-form-type-textfield textarea,
  .webform-submission-form .js-form-type-select textarea,
  .webform-submission-form .js-form-type-email textarea,
  .webform-submission-form .js-form-type-number textarea,
  .webform-submission-form .js-form-type-date textarea,
  .webform-submission-form .js-form-type-textarea textarea {
    padding: 15px 22px;
  }
  .webform-submission-form .js-form-type-textfield .description,
  .webform-submission-form .js-form-type-select .description,
  .webform-submission-form .js-form-type-email .description,
  .webform-submission-form .js-form-type-number .description,
  .webform-submission-form .js-form-type-date .description,
  .webform-submission-form .js-form-type-textarea .description {
    margin-left: 0%;
  }
  .webform-submission-form .fieldgroup.webform-type-checkboxes {
    padding: 10px 0 5px;
  }
  .webform-submission-form .fieldgroup.webform-type-radios {
    padding: 10px 0;
  }
  .webform-submission-form .fieldgroup.webform-type-radios .fieldset-wrapper .form-radios .form-type-radio {
    width: calc(50% - 10px);
    margin: 10px 0;
    padding-right: 10px;
  }
  .webform-submission-form .js-form-type-processed-text {
    padding: 15px 0;
  }
  .webform-submission-form .fieldgroup {
    padding: 15px 10px;
  }
  .webform-submission-form .fieldgroup legend {
    width: 100%;
    max-width: initial;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .webform-submission-form .fieldgroup .fieldset-wrapper {
    width: 100%;
    float: none;
  }
  .webform-submission-form .form-type-date .field-prefix {
    float: none;
  }
  .webform-submission-form .form-type-date .field-suffix {
    padding: 0;
    float: none;
  }
  .webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .form-checkboxes {
    width: 100%;
    margin-bottom: 10px;
  }
  .webform-submission-form .webform-checkboxes-other.fieldgroup .fieldset-wrapper .webform-checkboxes-other-input {
    width: 100% !important;
  }
  .webform-submission-form .captcha img {
    margin-left: 25px;
  }
  .webform-submission-form .form-actions .webform-button--submit,
  .webform-submission-form .form-actions .webform-button--reset {
    margin: 0 20px 20px;
    width: calc(50% - 43px);
  }
  .webform-submission-form .form-actions .webform-button--reset {
    margin-top: 0 !important;
  }
  .webform-submission-form .are_the_new_contact_details_and_or_mailing .fieldset-wrapper .form-type-radio {
    width: 100%;
  }
  .webform-submission-form .are_the_new_contact_details_and_or_mailing .fieldset-wrapper .form-type-radio:last-child {
    width: 100%;
  }
  .webform-submission-form .please_complete_change_of_contact_details .fieldset-wrapper .form-type-textfield {
    width: 100%;
    margin-bottom: 25px;
    margin-right: 0;
    float: none;
  }
  .webform-submission-form .custom-top-text {
    padding: 30px 15px;
  }
  .webform-submission-form .form-item-i-confirm-that-i-am-the-authorised-policyholder-and-or-insured {
    padding: 30px 15px;
  }
  .feedback_rating .block__inner .field-type-webform {
    max-width: 100%;
    width: inherit;
    margin: 0 20px;
  }
}
@media only screen and (max-width: 480px) {
  .webform-submission-form .g-recaptcha {
    width: 204px;
    margin: 0 0 15px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
    transform-origin: left;
  }
}
/* webform-confirmation-modal--content  */
.webform-confirmation-modal {
  width: 1600px;
  max-width: 1600px;
  margin: 0 auto;
  min-width: 1600px;
}
@media only screen and (max-width: 1637px) {
  .webform-confirmation-modal {
    width: 1280px;
    max-width: 1280px;
    min-width: 1280px;
  }
}
@media only screen and (max-width: 1403px) {
  .webform-confirmation-modal {
    width: 1200px;
    max-width: 1200px;
    min-width: 1200px;
  }
}
@media only screen and (max-width: 1279px) {
  .webform-confirmation-modal {
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
  }
}
@media only screen and (max-width: 1137px) {
  .webform-confirmation-modal {
    width: 940px;
    max-width: 940px;
    min-width: 940px;
  }
}
@media only screen and (max-width: 977px) {
  .webform-confirmation-modal {
    width: 820px;
    max-width: 820px;
    min-width: 820px;
  }
}
@media only screen and (max-width: 857px) {
  .webform-confirmation-modal {
    width: 720px;
    max-width: 720px;
    min-width: 720px;
  }
}
@media only screen and (max-width: 757px) {
  .webform-confirmation-modal {
    width: 620px;
    max-width: 620px;
    min-width: 620px;
  }
}
@media only screen and (max-width: 640px) {
  .webform-confirmation-modal {
    width: 100%;
    max-width: 100%;
    min-width: 320px;
  }
}
.ui-dialog.ui-widget.ui-widget-content {
  border: none;
  background: none;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar-close {
  right: 20px;
  top: 20px;
  background: url('images/pop-up_close.png') no-repeat;
  border: none;
  background-size: 100%;
  z-index: 1;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
  margin-left: 130px;
  margin-right: 130px;
}
@media only screen and (max-width: 1637px) {
  .ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
    margin-left: 90px;
    margin-right: 90px;
  }
}
@media only screen and (max-width: 1403px) {
  .ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
    margin-left: 85px;
    margin-right: 85px;
  }
}
@media only screen and (max-width: 1279px) {
  .ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 1137px) {
  .ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
    margin-left: 0;
    margin-right: 0;
  }
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
  background: none;
  margin-bottom: -20px;
  border: none;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar .ui-dialog-title {
  display: none;
}
.ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
  margin-left: 130px;
  margin-right: 130px;
}
@media only screen and (max-width: 1637px) {
  .ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
    margin-left: 90px;
    margin-right: 90px;
  }
}
@media only screen and (max-width: 1403px) {
  .ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
    margin-left: 85px;
    margin-right: 85px;
  }
}
@media only screen and (max-width: 1279px) {
  .ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 1137px) {
  .ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (max-width: 640px) {
  .ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
    margin-left: 0;
    margin-right: 0;
  }
}
.ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content {
  text-align: center;
  background: #FFF;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 30px;
  font-size: 24px;
  line-height: normal;
}
.ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content img {
  margin-bottom: 30px;
}
.ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content .feedback-confirmation-msg .contact-us-popup-success-msg {
  text-align: left;
}
.ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content .feedback-confirmation-msg .contact-us-popup-success-msg h3 {
  margin-bottom: 15px;
}
.ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content .feedback-confirmation-msg .contact-us-popup-success-msg h3 a {
  color: #1c0761;
}
.ui-dialog.ui-widget.ui-widget-content .webform-confirmation-modal--content .feedback-confirmation-msg .contact-us-popup-success-msg p {
  font-size: 16px;
  margin-bottom: 10px;
}
div.ui-widget-overlay {
  display: block;
  background: #000;
  opacity: 0.5;
}
.hide-label label {
  display: none !important;
}
/*custom upload file */
.custom-file-upload label {
  margin-bottom: 10px;
}
.custom-file-upload input[type='file'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-file-upload span.file a {
  color: #808080;
}
.custom-file-upload .form-submit {
  margin-top: 10px;
  margin-bottom: 10px;
}
.custom-file-upload input[type='file'] + label {
  background: url('images/upload_file_en.png') no-repeat left center;
  width: 100%;
  height: 60px;
  cursor: pointer;
  font: 14px/24px 'Trebuchet MS';
  margin: 0;
}
html[lang="bhasa"] .custom-file-upload input[type='file'] + label {
  background: url('images/file_tc.png') no-repeat left center;
}
/* share feedback*/
.page-help--support #block-shareyourfeedback .rate-our-service-staff fieldset.service-staff .fieldset-wrapper input[type='radio'] + label:before {
  display: none;
}
